---
title: ENBD X
menu: extra.empty
page-header: ENBD X
libs: apexcharts, jsvectormap, jsvectormap-world, jsvectormap-world-merc
---

<!-- Content here -->


<div class="row row-deck row-cards media">
	<div class="col-12">
		<div class="container-fluid  d-flex align-items-left justify-content-center card">
			 <div class="row">
				<div class="col-sm-1 col-lg-1 d-flex justify-content-left">
					<div class="avatar product-logo" style="background-image: url(./static/enbd-app-logos/enbdx-round.png)"></div>
				</div>				
				<div class="col-sm-1 col-lg-2 d-grid gap-2 pt-5 pb-5">
		 			<span class="text-muted">Average Rating</span>
					<span class="rating  ">★★★★☆ (4.3)</span> 					
					<span class=" ">19.9K reviews</span>
				</div>
			
 				<div class="col-sm-1 col-lg-6 d-flex align-items-center">
					<div class="row align-items-center">
              	      {% include cards/small-stats.html id="reviews" icon="arrow-up" color="green" lt=true title="323" description="Reviews this week" description-value="+4%" %}
                    </div>
				</div>	
			 	<div class="col-sm-1 col-lg-2 d-flex align-items-center">
					<div class="datagrid-item">
						<div class="datagrid-title">Live status</div>
						<div class="datagrid-content">
							{% include ui/status.html text="Working" color="green" %}
						</div>
					</div>
				</div>				
		<!-- end of first container -->	
 			</div>
	</div>
	</div>
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/sales.html %}
	</div>
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/revenue.html %}
	</div>
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/new-clients.html %}
	</div>

	<div class="col-sm-6 col-lg-3">
	  {% include cards/charts/active-users.html %}
	</div>

 	{% comment %}
	<div class="col-lg-6">
		<div class="row row-cards">
			<div class="col-12">
			</div>

			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=43 title="New Tickets" percentage=6 %}
			</div>
			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=95 number-prefix="$" title="Daily Earnings" percentage=-2 %}
			</div>
			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=7 title="New Replies" percentage=9 %}
			</div>
		</div>
	</div>
	{% endcomment %}
	<div class="col-lg-12">
		{% include parts/charts/activity.html %}
	</div>

	<div class="col-md-6 col-lg-4">
				<div class="card">
					<div class="card-body">
						<p class="mb-3">Current sentiment: <strong>Overall positive</strong></p>
						<div class="progress progress-separated mb-3">
							<div class="progress-bar bg-success" role="progressbar" style="width: 64%" aria-label="Regular"></div>
							<div class="progress-bar bg-info" role="progressbar" style="width: 17%" aria-label="System"></div>
							<div class="progress-bar bg-danger" role="progressbar" style="width: 19%" aria-label="Shared"></div>
						</div>
						<div class="row">
							<div class="col-auto d-flex align-items-center pe-2">
								<span class="legend me-2 bg-success"></span>
								<span>Positive</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">133</span>
							</div>
							<div class="col-auto d-flex align-items-center px-2">
								<span class="legend me-2 bg-info"></span>
								<span>Neutral</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">33</span>
							</div>
							<div class="col-auto d-flex align-items-center px-2">
								<span class="legend me-2 bg-danger"></span>
								<span>Negative</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">39</span>
							</div>
						</div>
					
					</div>
				</div>
			</div>

	<div class="col-md-6 col-lg-8">
		{% include cards/activity.html %}
	</div>


	<div class="col-md-12 col-lg-8">
		{% include cards/most-visited-pages.html %}
	</div>

 

	<div class="col-md-6 col-lg-4">
		{% include cards/social-traffic.html %}
	</div>

	<div class="col-12">
		{% include cards/icons-banner.html %}
	</div>

	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">About the application</h3>
			</div>
			<div class="card-body">
				{% include parts/datagrid.html %}
			</div>

	</div>

</div>
