<div class="card">
	<div class="card-body">
		<div class="d-flex">
			<h3 class="card-title">Sentiment over time</h3>
			<div class="ms-auto">
				{% include parts/dropdown/days.html %}
			</div>
		</div>

		<div class="row">
			<div class="col">
				{% include ui/chart.html chart-id="active-users-2" %}
			</div>
			<div class="col{% unless include.hide-breakpoint %}-md{% endunless %}-auto">
				<div class="divide-y divide-y-fill">
					<div class="px-3">
						<div class="text-muted">
							<span class="status-dot bg-green"></span> Positive
						</div>
						<div class="h2">821</div>
					</div>
					<div class="px-3">
						<div class="text-muted">
							<span class="status-dot bg-azure"></span> Neutral
						</div>
						<div class="h2">25</div>
					</div>
					<div class="px-3">
						<div class="text-muted">
							<span class="status-dot bg-danger"></span> Negative
						</div>
						<div class="h2">511</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>